* {
  padding: 2px;
}
span {
  font-weight: bold;
}

img {
  width: 100%;
  float: left;
}

h1 {
  font-style: italic;
  text-align: center;
  font-weight: bolder !important;
}

h2 {
  font-style: italic;
  font-weight: bolder !important;
}

h3 {
  font-style: italic;
  font-weight: bolder !important;
}

h4 {
  font-style: italic;
  font-weight: bolder !important;
}

body {
  background-color: #f5f5dc !important;
}
